<div class="page">
    <div class="container text-center">
        <h3>Contact us</h3>
    </div>
    <div class="row justify-content-center">
        <mat-card class="col-10 p-0">
            <iframe class="w-100" style="height: 300px;"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2710.207049454749!2d-1.5729033!3d47.2125309!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ec0fcda6c4cb%3A0xd620ca38dafa1e9a!2s2+Rue+La+Motte+Picquet%2C+44100+Nantes!5e0!3m2!1sfr!2sfr!4v1423244007186" frameborder="0">
            </iframe>
            <div class="row mt-4">
                <div class="col-sm-4 text-center">
                    <mat-card class="card">
                        <div>
                            <mat-icon class="text-info">location_on</mat-icon>
                        </div>
                        <span><b>ADDRESS</b></span>
                        <p class="m-0 pt-2">5 chemin des montquartiers</p>
                        <p>Issy les moulinaux 92130</p>
                    </mat-card>
                </div>
                <div class="col-sm-4 text-center">
                    <mat-card class="card h-100">
                        <div>
                            <mat-icon class="text-danger">phone</mat-icon>
                        </div>
                        <span><b>Phone</b></span>
                        <div class="pt-2">
                            <a href="tel:+33603662674" class="m-0">+33603662674</a>
                            <br/>
                            <a href="tel:+33166996743">+33166996743</a>
                        </div>
                    </mat-card>
                </div>
                <div class="col-sm-4 text-center">
                    <mat-card class="h-100 card">
                        <div>
                            <mat-icon class="text-warning">email</mat-icon>
                        </div>
                        <span><b>E-MAIL</b></span>
                        <div class="pt-4">
                            <a href="mailto:support@le-grand-jour.fr" class="m-0">support@le-grand-jour.fr</a>
                        </div>
                    </mat-card>
                </div>
                <div class="text-center w-100">
                    <div class="social twitter"><a href="https://twitter.com/sa_sha26" target="_blank"><i class="fa fa-twitter"></i></a></div>
                    <div class="social facebook"><i class="fa fa-facebook"></i></div>
                    <div class="social google"><i class="fa fa-google-plus"></i></div>
                    <div class="social youtube"><a href="https://www.youtube.com/channel/UCCATAa8MWoBuH-sR_Jlx29A" target="_blank"><i class="fa fa-youtube"></i></a></div>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                            <feBlend in="SourceGraphic" in2="goo" />
                            </filter>
                        </defs>
                    </svg>
                </div>
            </div>
        </mat-card>
    </div>

</div>