<div class="page">
    <div class="container text-center mb-4">
        <h3>Affordable Prices</h3>
    </div>
    <div class="row justify-content-center">
        <mat-card class="col-sm-3 text-center p-0 mt-4">
            <mat-card-title class="p-2 m-0">
                <h4>Basic</h4>
            </mat-card-title>
            <mat-card-content class="pl-0 pr-0 pb-4">
                <div class="price-content p-5">
                    <div class="price">
                        9,99
                    </div>
                    <div class="price-period">
                        per month
                    </div>
                </div>
                <div class="description">
                    <p class="mt-4 mb-2">3 Sport Activity</p>
                    <mat-divider></mat-divider>
                    <p class="mt-4 mb-2">60 Days Track Record</p>
                    <mat-divider></mat-divider>
                    <p class="mt-4 mb-2">Cloud Backup</p>
                    <mat-divider></mat-divider>
                    <p class="mt-4 mb-2">Ads Removed</p>
                </div>
            </mat-card-content>
            <mat-card-footer class="p-4">
                <button mat-raised-button color="accent">Select now</button>
            </mat-card-footer>
        </mat-card>

        <mat-card class="col-sm-3 text-center p-0">
            <mat-card-title class=" best-price-title p-2 m-0">
                <h4>Premium</h4>
            </mat-card-title>
            <mat-card-content class="pl-0 pr-0 pb-4">
                <div class="best-price-content p-5">
                    <div class="price">
                        9,99
                    </div>
                    <div class="price-period">
                        per month
                    </div>
                </div>
                <div class="description">
                    <p class="mt-4 mb-2">3 Sport Activity</p>
                    <mat-divider></mat-divider>
                    <p class="mt-4 mb-2">60 Days Track Record</p>
                    <mat-divider></mat-divider>
                    <p class="mt-4 mb-2">Cloud Backup</p>
                    <mat-divider></mat-divider>
                    <p class="mt-4 mb-2">Ads Removed</p>
                </div>
            </mat-card-content>
            <mat-card-footer class="p-4">
                <button mat-raised-button color="accent">Select now</button>
            </mat-card-footer>
        </mat-card>

        <mat-card class="col-sm-3 text-center p-0 mt-4">
            <mat-card-title class="p-2 m-0">
                <h4>Gold</h4>
            </mat-card-title>
            <mat-card-content class="pl-0 pr-0 pb-4">
                <div class="price-content p-5">
                    <div class="price">
                        9,99
                    </div>
                    <div class="price-period">
                        per month
                    </div>
                </div>
                <div class="description">
                    <p class="mt-4 mb-2">3 Sport Activity</p>
                    <mat-divider></mat-divider>
                    <p class="mt-4 mb-2">60 Days Track Record</p>
                    <mat-divider></mat-divider>
                    <p class="mt-4 mb-2">Cloud Backup</p>
                    <mat-divider></mat-divider>
                    <p class="mt-4 mb-2">Ads Removed</p>
                </div>
            </mat-card-content>
            <mat-card-footer class="p-4">
                <button mat-raised-button color="accent">Select now</button>
            </mat-card-footer>
        </mat-card>
    </div>
</div>